@import '/scss/_main.scss';
@import '/scss/_imageText.scss';
@import '/scss/_navigation.scss';
@import '/scss/_slider.scss';
@import '/scss/_text.scss';
@import '/scss/_accordion.scss';
@import '/scss/_customInfo.scss';
@import '/scss/_button.scss';
@import '/scss/_history.scss';
@import '/scss/_schreiner.scss';
@import '/scss/_service.scss';
@import '/scss/_banner.scss';
@import '/scss/_mediaQueries.scss';
@import '/scss/_forms.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
    font-family: 'Crimson Pro';
    font-size: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=League+Spartan:wght@100..900&family=Poppins:wght@300;400&display=swap');
}

