@media (min-width:768px){


    .swiper-button-prev::after,
    .swiper-button-next::after{
    
        scale: 1 !important;
    }
    

    .swiper-button-next,
    .swiper-button-prev {

        width: 100px !important;
        height: 100px !important;
        

    }

    .swiper-button-prev {

        left: 75% !important;
    }

}

@media (min-width:1024px) {

    .swiper-button-next,
    .swiper-button-prev {

        width: 125px !important;
        height: 125px !important;
        

    }

    .swiper-button-prev::after,
    .swiper-button-next::after{
    
        scale: 1.25 !important;
    }

    .swiper-button-prev {

        left: 75% !important;
    }
}

@media (min-width:1440px) {

    .swiper-button-prev {

        left: 80% !important;
    }
}