.hidden-menu {

    transform: translateY(-110vh);
}

.primary-nav {
  
    @apply md:translate-y-0 md:w-full ;

    ul {
        @apply flex relative md:justify-end md:flex-row md:m-0 md:text-lg md:px-8;

        li {

            @apply  font-semibold md:relative mt-2 md:text-slate-800 md:mt-0 md:hover:text-turquoise transition-colors duration-200;

            ul {
                @apply md:h-auto flex overflow-hidden flex-col  gap-6 md:py-0 md:absolute md:-left-8 md:w-60 transition-all duration-150;
            }

            ul li {
            @apply text-m-primary md:bg-white md:p-2 md:right-2;

            }

        }

        li:hover ul {
            @apply md:block;
        }

        li:hover svg{
            @apply md:rotate-180;
        }

        li:last-child div,
        li:nth-child(2) div{
            @apply hidden;
        }

        .sub-menu {

            @apply md:hidden;
    
            div {
                @apply hidden;
            }
    
        }
    }

    
    
}