.hidden-menu {

    transform: translateY(-110vh);
}

.primary-nav {
  
    @apply md:translate-y-0 md:w-full ;

    ul {
        @apply flex relative md:justify-end md:flex-row md:m-0 md:text-lg md:px-8;

        li {

            @apply  font-semibold md:relative md:text-slate-800 hover:text-turquoise transition-colors duration-200;

            ul {
                @apply flex flex-col gap-6 md:absolute md:-left-8 md:w-60 md:opacity-0 transition-all duration-150;
            }

            ul li {
            @apply  md:bg-white md:p-2 md:right-2;

            }

          

        }

        li:hover ul {
            
            @apply md:opacity-100;
        }

        li:hover svg{
            transform: rotate(180deg);
        }

        li:last-child div,
        li:nth-child(2) div{
            @apply hidden;
        }
    }
}