


.banner__container {

    height: 40vh;
    width: 100vw;
    margin-bottom: 1.875rem;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    .banner__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: translate3d(1e-05px, 0px, 1e-05px);
        position: absolute;
        top: -2rem;
        min-height: calc(100% + 4rem);
    }

    .banner__text {

        @apply text-slate-300;
    }
}

