.history {

    @apply p-2;

    span{
        @apply text-xl md:text-xl;
    }

    h2 {
        @apply text-3xl;
    }


    .circle {
        position: absolute;
        width: 10px;
        height: 10px;
        border: 1px solid black;
        border-radius: 50%;
        bottom: 10%;
        right: -32.1%;
    }

}

