@media(min-width:768px) {

   .infos {

        h2 {
            @apply text-4xl mt-8;
        }

        blockquote{
            @apply text-3xl;
        }
   }

   .history__container::before {
        content: '';
        z-index: 1;
        position: absolute;
        left: 50%;
        height: 100%;
        border: 0.5px solid black;
    }

    .submenu-triangle {
        cursor: pointer;
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #b5131d;
        margin: 10px;
    }


}
