

header {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.822);
}

.hidden-menu {
    transform: translateY(-100vh);
    transition: transform 0.5s ease-in-out ;
}

.submenu-triangle {
    cursor: pointer;
    width: 0px; 
    height: 0px; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.triangle-rotate {
    transform: rotate(180deg);
}

.second-hidden-submenu {
    

    @apply md:p-0 md:flex-row md:text-black md:mt-0 md:p-0 md:text-lg  md:flex-wrap md:justify-end ;

    li {
        @apply flex flex-col relative p-2 md:flex md:flex-row md:items-center md:text-lg md:font-semibold ;
    }

    li a {
        @apply transition-all;
    }

    li a:hover {
        @apply sm:text-slate-400 md:text-red-700;
    }

    li:hover ul {
        @apply block;
        
    }

    li div{
        @apply absolute right-16 ml-auto md:static;
    }


    li ul div {
        @apply hidden;
    }

   
    .sub-menu {
        @apply flex flex-col  md:absolute md:left-0 md:top-[100%];
    }

    
    .sub-menu li:hover {
        @apply md:transition-all md:hover:text-red-600 ;
    }


}

.second-hidden-submenu div:last-child{
    border: 0;
}