

header {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.822);
}

.hidden-menu {
    transform: translateY(-100vh);
    transition: transform 0.5s ease-in-out ;
    overflow-y: scroll;
}

.submenu-triangle {
    cursor: pointer;
    width: 0px; 
    height: 0px; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}

.triangle-rotate {
    transform: rotate(180deg);
}

.second-hidden-submenu {

    @apply  md:p-0 md:flex-row md:text-black md:mt-0 md:p-0 md:text-lg  md:flex-wrap md:justify-end ;

    li {
        @apply relative p-2 md:flex md:flex-row md:items-center md:text-lg md:font-semibold ;
    }

    li:hover ul {
        @apply block;
        
    }

    li div{
        @apply flex mr-auto;
    }


    li ul div {
        @apply hidden;
    }

   
    .sub-menu {
        @apply z-50 md:absolute md:left-0 md:top-[100%];
    }

    
    .sub-menu li:hover {
        @apply md:transition-all md:hover:text-red-600 ;
    }


}